.hiringUpdate {
  margin-top: 55px !important;
  padding: 0 !important;
  background-color: white !important;
  width: 100% !important;
  padding-bottom: 40px !important;
}
.hiringUpdate_main {
  width: 100% !important;
}
.hiringUpdate_select {
  display: flex !important;
  margin: 0 0 !important;
  padding-top: 2% !important;
  justify-content: space-between;
}
.hiringUpdate_selectBack {
  color: white;
  background-color: #00aded;
  height: 30px !important;
  width: 30px !important;
  border-radius: 50%;
  font-weight: bolder !important;
  font-size: small !important;
  margin-left: 30px !important;
  margin-top: 10px !important;
  cursor: pointer;
}
.hiringUpdate_selectLeft {
  display: flex;
  flex: 0.85;
}

.hiringUpdate_selectRight {
  flex: 0.15;
}
.hiringUpdate_save {
  background-color: #00aded !important;
  color: white !important;
  font-weight: 600 !important;
  padding: 0 60px !important;
  text-transform: inherit !important;
  font-size: larger !important;
  margin-top: 10px !important;
  margin-left: 7% !important;
}
.hiringUpdate_mainElement {
  display: flex !important;
  margin-top: 2.5% !important;
}
.css-2la4vn-control {
  border: 1.5px solid #00aded !important;
  width: 100% !important;
  padding: 8px 150px !important;

  border-radius: 30px !important;
}

@media screen and (max-width: 1440px) {
  .hiringUpdate_mainElement {
    flex-direction: column;
  }
  .css-2la4vn-control {
    margin: auto 30px !important;
    border: 1.5px solid #00aded !important;
    width: 100% !important;

    margin-bottom: 15px !important;

    padding: 8px 100px !important;

    border-radius: 30px !important;
  }
}
@media screen and (max-width: 750px) {
  .hiringUpdate_select {
    flex-direction: column;
  }
  .hiringUpdate_selectRight {
    margin: 2% auto;
  }
}
@media screen and (max-width: 600px) {
  .hiringUpdate_mainElement {
    display: flex !important;
    margin-top: 2.5% !important;
  }
  .css-2la4vn-control,
  select {
    margin: auto 30px !important;
    border: 1.5px solid #00aded !important;
    width: 100% !important;
    margin-bottom: 13px !important;
    padding: 8px 25px !important;

    border-radius: 30px !important;
  }
}
