.close {
  position: absolute;
  right: 0 !important;
  left: auto !important;
  top: 0;
  align-self: flex-start;
  margin-top: 0;
  padding-top: 0 !important;
  padding-right: 0 !important;
}
.modal-main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: white;
  width: 30%;
  height: auto;
  top: 50%;
  left: 50%;
  padding: 25px;
  border: 2px solid #00aded;
  border-radius: 30px;
  transform: translate(-50%, -50%);
}
.pw {
  width: 80%;
  padding: auto auto;
  margin: auto auto;
}
.show {
  display: block;
}

.notShow {
  background: red !important;
  display: none;
}
.pw_tag {
  color: #17d059;
  font-weight: bolder;
}
.errorMessageCP {
  color: #21b9ed !important;
  font-size: 20px !important;
  text-align: center;
  background-color: #dff5fc !important;
  border: 2px solid #a0e1f7 !important;
  border-radius: 50px !important;
  margin-bottom: 3% !important;
  margin-top: 1.25% !important;
  padding: 5px 15px;
}
