body {
  background-image: linear-gradient(to right, #38f9d7 0%, #43e97b 100%);
}

.forgotPass {
  display: flex !important;

  align-items: center !important;
  flex-direction: column !important;
  background-color: white;
  border: 8px solid #00aded;
  border-radius: 10% !important;
  margin: 9% auto !important;
  padding: 2% !important;
}

.heading {
  margin-top: 10px !important;
  color: #777 !important;
  text-align: center;
  font-size: 40px !important;
}
.sub-heading {
  margin-top: 10px !important;
  color: #777 !important;
  text-align: center;
}

.form {
  margin-top: 30px !important;
  display: flex !important;
  /* width: 100%; */

  align-items: center !important;
  flex-direction: column !important;
}
.input {
  margin-bottom: 30px !important;
}

.submit {
  background: #00aded !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 15px !important;
  padding: 13px !important;
  display: block !important;
  border: 1px solid #00aded;
  transition: 0.3s !important;
  -webkit-transition: 0.3 !important;
  -moz-transition: 0.3s !important;
  margin-bottom: 30px !important;
  text-decoration: none !important;
}

.submit:hover {
  background: #fff !important;
  color: #00aded !important;
  border: 1px solid #00aded !important;
  cursor: pointer !important;
}

.login_end {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 0 !important;
  margin-bottom: 30px;
}

.link {
  text-decoration: none;
}
.input_icon {
  color: #00aded !important;
}
.errorMessage {
  color: #21b9ed !important;
  font-size: 20px !important;
  text-align: center;
  background-color: #dff5fc !important;
  border: 2px solid #a0e1f7 !important;
  border-radius: 50px !important;
  margin-bottom: -6% !important;
  margin-top: 1.25% !important;
  padding: 5px 15px;
}
@media screen and (max-width: 440px) {
  .forgotPass {
    width: 90% !important;
  }
  .heading {
    font-size: 30px !important;
  }
  /* .sub-heading {
    font-size: 20px !important;
  } */
}
