.hiringform {
  margin-top: 55px !important;
  padding: 0 !important;
  background-color: white !important;
  width: 100% !important;
}
.hiringform_select {
  display: flex !important;
  margin: 0 0 !important;
  padding-top: 2% !important;
}

.hiringform_selectBack {
  color: white;
  background-color: #00aded;
  height: 30px !important;
  width: 30px !important;
  border-radius: 50%;
  font-weight: bolder !important;
  font-size: small !important;
  margin-left: 30px !important;
  margin-top: 10px !important;
  cursor: pointer;
}

.hiringform_save {
  background-color: #00aded !important;
  color: white !important;
  font-weight: 600 !important;
  padding: 0 60px !important;
  text-transform: inherit !important;
  font-size: larger !important;
  margin-top: 10px !important;
  margin-left: 7% !important;
}
.hiringform_selectLeft {
  display: flex !important;
}
.hiringform_selectCompany {
  margin: auto 30px;
  border: 1.5px solid #00aded;
  width: 500px !important;

  padding: 10px 50px !important;

  border-radius: 30px;
}
.hiringform_selectCompany:focus {
  outline: none !important;
}
.css-cqf9y8-control,
.css-anb06n-control,
.css-pghfyh-control,
select {
  margin: auto 30px !important;
  border: 1.5px solid #00aded !important;
  width: 500px !important;

  padding: 8px 50px !important;

  border-radius: 30px !important;
}
select:focus {
  outline: none !important;
}

.hiringform_element {
  display: flex !important;
  margin-top: 2.5% !important;
}
@media screen and (max-width: 1440px) {
  .hiringform {
    margin-top: 40px !important;
  }
  .hiringform_select {
    flex-direction: column !important;
  }
  .hiringform_selectLeft {
    flex-direction: column !important;
  }
  .css-cqf9y8-control,
  .css-anb06n-control,
  .css-pghfyh-control,
  select {
    margin: auto 30px !important;
    border: 1.5px solid #00aded !important;
    width: 80% !important;

    margin-bottom: 15px !important;

    padding: 8px 10px !important;

    border-radius: 30px !important;
  }
  .hiringform_element {
    flex-direction: column;
  }
  .hiringform_save {
    width: 75% !important;
  }
  .hiringform_selectBack {
    margin: 2%;
  }
}
@media screen and (max-width: 1280px) {
  .css-pghfyh-control,
  .css-anb06n-control,
  select {
    margin-bottom: 15px !important;
  }
}

@media screen and (max-width: 600px) {
  .hiringform {
    margin-top: 40px !important;
  }
  .css-cqf9y8-control,
  .css-anb06n-control,
  .css-pghfyh-control,
  select {
    margin: auto 30px !important;
    border: 1.5px solid #00aded !important;
    width: 80% !important;
    margin-bottom: 13px !important;
    padding: 8px 25px !important;

    border-radius: 30px !important;
  }
  .hiringform_element {
    flex-direction: column;
  }
}
